@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Montserrat;
	background: url(https://view.moezx.cc/images/2018/12/09/hearthstone_bg.jpg) no-repeat 50% 0 fixed !important;
}

.text-input {
	position: relative;
	margin-top: 50px;
}

.text-input input[type="text"] {
	display: inline-block;
	width: 500px;
	height: 40px;
	box-sizing: border-box;
	outline: none;
	border: 1px solid lightgray;
	border-radius: 3px;
	padding: 10px 10px 10px 145px;
	transition: all 0.1s ease-out;
}

.text-input input[type="text"] + label {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 40px;
	line-height: 40px;
	color: white;
	border-radius: 3px 0 0 3px;
	padding: 0 20px;
	background: #E03616;
	-webkit-transform: translateZ(0) translateX(0);
	transform: translateZ(0) translateX(0);
	transition: all 0.3s ease-in;
	transition-delay: 0.2s;
}

.text-input input[type="text"]:focus + label {
	-webkit-transform: translateY(-120%) translateX(0%);
	transform: translateY(-120%) translateX(0%);
	border-radius: 3px;
	transition: all 0.1s ease-out;
}

.text-input input[type="text"]:focus {
	padding: 10px;
	transition: all 0.3s ease-out;
	transition-delay: 0.2s;
}

.text-input button {
	display: none
}

.cover-logo {
	font-size: 60px;
	color: white
}

.menu {
	width: 500px;
}

.menu table {
	table-layout: fixed;
	width:100%;
	margin: 40px 0;
	text-align: center;
	color: white
}