asn1crypto==0.24.0
blinker==1.4
certifi==2018.11.29
chardet==3.0.4
Cheetah==2.4.4
cloud-init==0.7.9
configobj==5.0.6
cryptography==2.5
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
idna==2.8
ipaddress==1.0.22
Jinja2==2.10
jsonpatch==1.23
jsonpointer==2.0
jsonschema==2.6.0
keyring==17.1.1
keyrings.alt==3.1.1
Markdown==3.0.1
MarkupSafe==1.1.0
mock==2.0.0
oauthlib==3.0.1
pbr==5.1.1
prettytable==7
pycrypto==2.6.1
Pygments==2.3.1
pygobject==3.30.4
PyJWT==1.7.1
PyMySQL==0.9.3
pyOpenSSL==19.0.0
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
schedule==0.5.0
SecretStorage==2.3.1
six==1.11.0
urllib3==1.22
